# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/

# Node
node_modules/
build/
dist/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment files
.env

# Docker
*.log

# Test
coverage/

# Helm
*.tgz

ci-cd-k8s-pipeline.zip
build.txt
blunders.txt
*.code-workspace